workspace/flows.json
[{"id":"96b950b4fd619465","type":"tab","label":"Example","disabled":false,"info":"","env":[]},{"id":"39483d11dfaf9ccb","type":"tab","label":"Treatment","disabled":false,"info":"","env":[]},{"id":"9cb589a869790d68","type":"tab","label":"API LLM","disabled":false,"info":"","env":[]},{"id":"d39548190fe760a7","type":"tab","label":"Runpod","disabled":false,"info":"","env":[]},{"id":"fe38d4392a5ba26e","type":"group","z":"96b950b4fd619465","name":"API","style":{"label":true},"nodes":["158c4345e56942f2","80db08f25c3773c5","71a8b45db886d63d","3284ccd5ef08a2b6","4db6945af14a90c5"],"x":34,"y":39,"w":492,"h":122},{"id":"158c4345e56942f2","type":"http in","z":"96b950b4fd619465","g":"fe38d4392a5ba26e","name":"","url":"/ping","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["71a8b45db886d63d"]]},{"id":"80db08f25c3773c5","type":"http response","z":"96b950b4fd619465","g":"fe38d4392a5ba26e","name":"","statusCode":"","headers":{},"x":450,"y":100,"wires":[]},{"id":"71a8b45db886d63d","type":"template","z":"96b950b4fd619465","g":"fe38d4392a5ba26e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\n    \"data\": \"pong\"\n}","output":"json","x":300,"y":80,"wires":[["80db08f25c3773c5"]]},{"id":"3284ccd5ef08a2b6","type":"http in","z":"96b950b4fd619465","g":"fe38d4392a5ba26e","name":"","url":"/pong","method":"get","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["4db6945af14a90c5"]]},{"id":"4db6945af14a90c5","type":"template","z":"96b950b4fd619465","g":"fe38d4392a5ba26e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\n    \"data\": \"ping\"\n}","output":"json","x":300,"y":120,"wires":[["80db08f25c3773c5"]]},{"id":"37997aee4e39eff3","type":"ping","z":"96b950b4fd619465","protocol":"IPv4","mode":"triggered","name":"","host":"perdu.com","timer":"20","inputs":1,"x":250,"y":240,"wires":[["b448fa91901a419d"]]},{"id":"aac01f2ae3191838","type":"inject","z":"96b950b4fd619465","name":"ping","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":240,"wires":[["37997aee4e39eff3"]]},{"id":"b448fa91901a419d","type":"debug","z":"96b950b4fd619465","name":"speed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":240,"wires":[]},{"id":"39672cb21837846a","type":"inject","z":"39483d11dfaf9ccb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["bff12da2b1fe7324"]]},{"id":"bff12da2b1fe7324","type":"http request","z":"39483d11dfaf9ccb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:1880/assets/users.json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":100,"wires":[["13083275a27932e3"]]},{"id":"5bef19e7c4a3cc9e","type":"debug","z":"39483d11dfaf9ccb","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.firstname","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":220,"wires":[]},{"id":"13083275a27932e3","type":"json","z":"39483d11dfaf9ccb","name":"","property":"payload","action":"","pretty":false,"x":430,"y":100,"wires":[["3d99a584f6ceba0e"]]},{"id":"3d99a584f6ceba0e","type":"change","z":"39483d11dfaf9ccb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":160,"wires":[["0ea352638e7fae18"]]},{"id":"0ea352638e7fae18","type":"split","z":"39483d11dfaf9ccb","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":430,"y":160,"wires":[["5bef19e7c4a3cc9e"]]},{"id":"2ffd6d24bfc811df","type":"http request","z":"9cb589a869790d68","name":"Request ChatGPT","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.openai.com/v1/chat/completions","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[{"keyType":"other","keyValue":"accept","valueType":"other","valueValue":"*/*"},{"keyType":"other","keyValue":"content-type","valueType":"other","valueValue":"application/json"}],"x":890,"y":260,"wires":[["9719405417743e16"]]},{"id":"4da1028bad07497e","type":"function","z":"9cb589a869790d68","name":"LLM Parameters","func":"msg.llm_model = 'gpt-4o';\nmsg.llm_parameters = {\n    temperature: 0.7,\n    top_p: 0.9,\n    max_tokens: 200\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":260,"wires":[["7902d9efbf81f8cc"]]},{"id":"52c894990c0a76d7","type":"inject","z":"9cb589a869790d68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LLM","payload":"Hello! What is Node.RED?","payloadType":"str","x":170,"y":100,"wires":[["4da1028bad07497e"]]},{"id":"6fdf7974e7dca3ec","type":"inject","z":"9cb589a869790d68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LLM","payload":"Hey! Who is Alan Turing?","payloadType":"str","x":160,"y":140,"wires":[["4da1028bad07497e"]]},{"id":"9719405417743e16","type":"debug","z":"9cb589a869790d68","name":"Show the answer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.choices[0].message.content","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":260,"wires":[]},{"id":"7902d9efbf81f8cc","type":"switch","z":"9cb589a869790d68","name":"Select model","property":"llm_model","propertyType":"msg","rules":[{"t":"eq","v":"gpt-4o","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":260,"wires":[["c96b41fe7b2cd825"]]},{"id":"728428531b8292b9","type":"function","z":"9cb589a869790d68","name":"Chat Format","func":"/* Auto Format 'msg.payload' */\nlet messages;\nif(Array.isArray(msg.payload)) {\n    messages = msg.payload;\n} else if(typeof msg.payload === 'string') {\n    messages = [\n        {\n            role: 'user',\n            content: msg.payload\n        }\n    ]\n} else {\n    console.error('No Prompt');\n    return;\n}\n\nmsg.payload = messages;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":200,"wires":[["ab0eaa6b7f7046f7"]]},{"id":"512fee596055f81c","type":"inject","z":"9cb589a869790d68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LLM","payload":"1+1+2+3+5+8+13 ?","payloadType":"str","x":150,"y":180,"wires":[["4da1028bad07497e"]]},{"id":"ead356153a6614de","type":"comment","z":"9cb589a869790d68","name":"API Large Language Model","info":"","x":130,"y":40,"wires":[]},{"id":"c96b41fe7b2cd825","type":"link call","z":"9cb589a869790d68","name":"","links":["27601c6fbcc89808"],"linkType":"static","timeout":"30","x":500,"y":260,"wires":[["229a31346d8a14ae"]]},{"id":"ab0eaa6b7f7046f7","type":"link out","z":"9cb589a869790d68","name":"link out 1","mode":"return","links":[],"x":685,"y":200,"wires":[]},{"id":"27601c6fbcc89808","type":"link in","z":"9cb589a869790d68","name":"LLM:Chat","links":[],"x":455,"y":200,"wires":[["728428531b8292b9"]]},{"id":"229a31346d8a14ae","type":"function","z":"9cb589a869790d68","name":"ChatGPT Struct","func":"msg.payload = {\n    ...(msg.llm_parameters || {}),\n    messages: msg.payload,\n    model: msg.llm_model\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":260,"wires":[["2ffd6d24bfc811df"]]},{"id":"3d85e0999003c7e3","type":"link call","z":"d39548190fe760a7","name":"","links":["27601c6fbcc89808"],"linkType":"static","timeout":"30","x":660,"y":300,"wires":[["a7deed32593f6cc0"]]},{"id":"f8dc70635f01e7a6","type":"http request","z":"d39548190fe760a7","name":"Request Runpod","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[{"keyType":"other","keyValue":"accept","valueType":"other","valueValue":"*/*"},{"keyType":"other","keyValue":"content-type","valueType":"other","valueValue":"application/json"}],"x":770,"y":40,"wires":[["fa410ce0248c6dd8"]]},{"id":"31950e59aadc4612","type":"debug","z":"d39548190fe760a7","name":"Show answer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":300,"wires":[]},{"id":"a7deed32593f6cc0","type":"link call","z":"d39548190fe760a7","name":"","links":["78895e18ec005912"],"linkType":"static","timeout":"30","x":830,"y":300,"wires":[["31950e59aadc4612"]]},{"id":"735d133d41a79dce","type":"link out","z":"d39548190fe760a7","name":"link out 2","mode":"return","links":[],"x":645,"y":160,"wires":[]},{"id":"7e1d4ce195f87dcc","type":"function","z":"d39548190fe760a7","name":"/status/ID","func":"const RUNPOD_VERSION = 2;\nconst URL_BASE = 'https://api.runpod.ai/v{VERSION}/{POD}{ENDPOINT}';\nmsg.url = URL_BASE\n    .replace('{VERSION}', String(RUNPOD_VERSION))\n    .replace('{POD}', msg.llm_pod)\n    .replace('{ENDPOINT}', `/status/${msg.payload.id}`)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":80,"wires":[["d24498504d9a20a6"]]},{"id":"d24498504d9a20a6","type":"http request","z":"d39548190fe760a7","name":"Request Runpod","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[{"keyType":"other","keyValue":"accept","valueType":"other","valueValue":"*/*"},{"keyType":"other","keyValue":"content-type","valueType":"other","valueValue":"application/json"}],"x":770,"y":80,"wires":[["0da5d6a5c85fd2ce"]]},{"id":"7cf844cb8b78b3d3","type":"function","z":"d39548190fe760a7","name":"/runpod/run","func":"const RUNPOD_VERSION = 2;\nconst URL_BASE = 'https://api.runpod.ai/v{VERSION}/{POD}{ENDPOINT}';\nmsg.url = URL_BASE\n    .replace('{VERSION}', String(RUNPOD_VERSION))\n    .replace('{POD}', msg.llm_pod)\n    .replace('{ENDPOINT}', '/run')\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":40,"wires":[["f8dc70635f01e7a6"]]},{"id":"78895e18ec005912","type":"link in","z":"d39548190fe760a7","name":"LLM:Runpod","links":[],"x":255,"y":40,"wires":[["e2447865b00e7b13"]]},{"id":"2ee2d5e49bedbd62","type":"inject","z":"d39548190fe760a7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"mlarge-16k","payload":"Where is New York?","payloadType":"str","x":170,"y":240,"wires":[["c478698264e0221b"]]},{"id":"c478698264e0221b","type":"function","z":"d39548190fe760a7","name":"LLM Parameters","func":"msg.llm_parameters = {\n    temperature: 0.7,\n    top_p: 0.9,\n    max_new_tokens: 300\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":300,"wires":[["07365131497e00a8"]]},{"id":"07365131497e00a8","type":"switch","z":"d39548190fe760a7","name":"Select model","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mlarge-16k","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":300,"wires":[["e5d1aa5c0606133c"]]},{"id":"26cc2a6431d62028","type":"comment","z":"d39548190fe760a7","name":"Runpod","info":"","x":70,"y":40,"wires":[]},{"id":"e5d1aa5c0606133c","type":"function","z":"d39548190fe760a7","name":"mlarge-16k","func":"msg.llm_pod = 'POD_ID_HERE';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":300,"wires":[["3d85e0999003c7e3"]]},{"id":"fa410ce0248c6dd8","type":"batch","z":"d39548190fe760a7","name":"","mode":"interval","count":10,"overlap":0,"interval":"1","allowEmptySequence":false,"topics":[],"x":360,"y":80,"wires":[["7e1d4ce195f87dcc"]]},{"id":"e2447865b00e7b13","type":"function","z":"d39548190fe760a7","name":"Runpod Struct","func":"msg.payload = {\n    input: {\n        ...(msg.llm_parameters || {}),\n        prompt: JSON.stringify(msg.payload)\n    }\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":40,"wires":[["7cf844cb8b78b3d3"]]},{"id":"0da5d6a5c85fd2ce","type":"switch","z":"d39548190fe760a7","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"IN_QUEUE","vt":"str"},{"t":"eq","v":"IN_PROGRESS","vt":"str"},{"t":"eq","v":"COMPLETED","vt":"str"},{"t":"eq","v":"FAILED","vt":"str"},{"t":"eq","v":"CANCELLED","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":350,"y":140,"wires":[["fa410ce0248c6dd8"],["fa410ce0248c6dd8"],["2ec020bb9ebafdcc"],[],["3f64372d11188241"]]},{"id":"2ec020bb9ebafdcc","type":"change","z":"d39548190fe760a7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["735d133d41a79dce"]]},{"id":"3f64372d11188241","type":"function","z":"d39548190fe760a7","name":"function 1","func":"msg.payload = `Err: ${msg.payload.error}`;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":180,"wires":[["735d133d41a79dce"]]}]